<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>[[#{app.name}]] - Chat</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.0.0/magnific-popup.min.css"
        integrity="sha512-nIm/JGUwrzblLex/meoxJSPdAKQOe2bLhnrZ81g5Jbh519z8GFJIWu87WAhBH+RAyGbM4+U3S2h+kL5JoV6/wA=="
        crossorigin="anonymous" />
    <link th:href="@{/styles/app.css}" rel="stylesheet" />
    <style>
        body {
            padding-top: 3.5rem;
            background-color: white;
            height: 100vh;
        }

        .rooms-wrapper {
            padding: 0 !important;
            margin: 0 !important;
            overflow-y: auto;
            overflow-x: hidden;
            border: 1px solid #f7f7f7;
            height: calc(100vh - 7rem);
        }

        .rooms-item {
            position: relative;
            padding: 10px !important;
            border-bottom: 1px solid #f7f7f7;
            height: 72px;
            margin: 0 !important;
            cursor: pointer;
        }

        .chats-wrapper {
            padding: 0 !important;
            margin: 0 !important;
            overflow: hidden;
            height: calc(100vh - 3.5rem);
        }

        .chats-message {
            overflow-y: scroll;
            -webkit-transition: left 0.3s ease;
            transition: left 0.3s ease;
            height: calc(100vh - 10.5rem);
        }

        .chat-container {
            margin-top: auto;
            margin-bottom: auto;
            position: relative;
            max-width: calc(100% - 16rem);
        }

        .chat-received {
            max-width: 85% !important;
            padding: 10px;
            margin-left: 10px;
            border-radius: 0 25px 25px 25px;
            background-color: #B3F2DB;
        }

        .chat-sent {
            max-width: 85% !important;
            padding: 10px;
            margin-right: 10px;
            border-radius: 25px 25px 0 25px;
            background-color: #66D3AC;
        }

        .chat-time {
            position: relative;
            bottom: 0;
            font-size: 10px;
        }

        .text-small {
            font-size: 0.9rem;
        }

        .ellipsis {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    </style>
</head>

<body>
    <header th:replace="~{fragment/header :: header}">Header</header>
    <noscript>
        <h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
            enabled. Please enable
            Javascript and reload this page!</h2>
    </noscript>
    <div class="container border-1 border-light">
        <div class="row">
            <div class="col-md-4 pe-0">
                <div class="rooms-search p-2 border border-white" style="height: 3.5rem; background-color: #f1f1f1;">
                    <form>
                        <div class="input-group">
                            <input id="search-room" type="text" class="form-control" name="name"
                                placeholder="Cari pengguna..." autocomplete="off" aria-label="cari nama">
                            <span class="input-group-text bg-light"><i class="las la-search"></i></span>
                        </div>
                    </form>
                </div>
                <div class="rooms-wrapper"></div>
            </div>
            <div class="col-md-8 chats-wrapper">
                <div class="row d-flex flex-column justify-content-center align-items-center"
                    style="height: calc(100vh - 3.5rem);">
                    <div class="col-md-12 text-center p-4 my-4">
                        <img class="my-4"
                            src="https://upload.wikimedia.org/wikipedia/commons/3/38/LogoKemenkoMaritim.png" alt=""
                            width="72" height="72">
                        <h4 class="h5 text-muted mb-4">Marves Core Chat</h4>
                        <p class="text-muted">Untuk memulai percakapan, silahkan pilih pengguna pada samping kiri.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="image-preview" tabindex="-1" role="dialog" aria-labelledby="image-preview"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <img class="img-fluid" src="" id="image-src" />
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-file" tabindex="-1" aria-labelledby="modal-file" aria-hidden="true">
        <form id="form-file" method="POST" th:action="@{/chat/send}">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Kirim File</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div id="modal-body" class="modal-body text-sm">
                        Apakah anda akan mengirimkan file?
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-sm btn-success border-0">Kirim</button>
                        <button type="button" class="btn btn-sm btn-secondary"
                            data-bs-dismiss="modal">Batal</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.0/sockjs.min.js"
        integrity="sha512-5yJ548VSnLflcRxWNqVWYeQZnby8D8fJTmYRLyvs445j1XmzR8cnWi85lcHx3CUEeAX+GrK3TqTfzOO6LKDpdw=="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"
        integrity="sha512-iKDtgDyTHjAitUDdLljGhenhPwrbBfqTKWO1mkhSFH3A7blITC9MhYon6SjnMhp4o0rADGw9yAC6EW4t5a4K3g=="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.0.0/jquery.magnific-popup.min.js"
        integrity="sha512-+m6t3R87+6LdtYiCzRhC5+E0l4VQ9qIT1H9+t1wmHkMJvvUQNI5MKKb7b08WL4Kgp9K0IBgHDSLCRJk05cFUYg=="
        crossorigin="anonymous"></script>
    <script th:src="@{/scripts/autocomplete.js}"></script>
    <script th:src="@{/asset/vendor/fgemojipicker/fgEmojiPicker.js}"></script>
    <script th:inline="javascript">
        // var loading = false;
        // function showPreview() {
        //     $('#image-src').attr('src', $('#image').attr('src')).attr('src');
        //     $('#image-preview').modal('show')
        // }
        var stompClient = null;
        /*<![CDATA[*/
        var email = /*[[${email}]]*/ 'email';
        /*]]>*/
        var modalFileEl = document.getElementById('modal-file');
        var modalFile = new bootstrap.Modal(modalFileEl);

        function showPreview(src) {
            $('#image-src').attr('src', src).attr('src');
            $('#image-preview').modal('show')
        }

        function showMagnificPopup(url) {
            $.magnificPopup.open({
                items: {
                    src: url
                },
                type: 'image'
            });
        }

        function socketConnect() {
            var socket = new SockJS('/socket');
            stompClient = Stomp.over(socket);
            stompClient.connect({}, function (frame) {
                console.log('Connected: ' + frame);
                stompClient.subscribe('/user/' + email + '/queue/message', function (message) {
                    // console.log(message);
                    var ids = message.body.replace(/["']/g, "").split('.');
                    console.log(ids[0]);
                    console.log(ids[1]);
                    updateRooms(ids[0], false);
                });
            });
        }

        function disconnect() {
            if (stompClient !== null) {
                stompClient.disconnect();
            }
            console.log("Disconnected");
        }

        function updateRooms(id, detail = true) {
            $.ajax({
                type: "GET",
                url: id == null ? "/chat/rooms" : "/chat/rooms?id=" + id,
                success: function (data) {
                    // disconnect();
                    $('.rooms-wrapper').empty();
                    $('.rooms-wrapper').html(data);
                    $('.rooms-wrapper').stop().animate({ scrollTop: 0 }, 1000);

                    $('.rooms-item').on('click', function (e) {
                        $('.rooms-item').css("background-color", "#FFF");
                        $(this).css("background-color", "#B8D5EB");
                        var id = $(this).attr('id');
                        changeDetail(id);
                    });

                    // $('#'+ $('#initial-id').val()).css("background-color", "#B8D5EB");
                    // changeDetail($('#initial-id').val());

                    if (id != null) {
                        console.log(id);
                        $('#' + id).css("background-color", "#B8D5EB");
                        if (detail)
                            changeDetail(id);
                    }
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        }

        function changeDetail(id) {
            $.ajax({
                type: "GET",
                url: "/chat/chats?id=" + id,
                success: function (data) {
                    $('.chats-wrapper').empty();
                    $('.chats-wrapper').html(data);
                    try {
                        $('.chats-message').stop().animate({ scrollTop: $('.chats-message')[0].scrollHeight }, 1000);
                    } catch (e) {
                        console.log(e);
                    }
                    stompClient.subscribe('/user/' + id + '.' + email + '/queue/message', function (message) {
                        // console.log(message);
                        // changeDetail(id);
                        getMessage(message.body.replace(/["']/g, ""));
                    });
                    new FgEmojiPicker({
                        dir: '/asset/vendor/fgemojipicker/',
                        trigger: ['#emoji'],
                        position: ['top', 'right'],
                        preFetch: true,
                        insertInto: document.getElementById('message'),
                        emit(obj, triggerElement) {
                            console.log(obj, triggerElement);
                        }
                    });
                    // $('.message-image').magnificPopup({
                    //     type: 'image'
                    // });
                    $('.profile-image').magnificPopup({
                        type: 'image'
                    });
                    $('.btn-file').on('click', function(e) {
                        $('#input-file').click();
                    });
                    $('#input-file').on('change', function(e) {
                        // alert($(this).val());
                        var filename = $(this).val().replace(/C:\\fakepath\\/i, '');
                        var body = document.getElementById('modal-body');
                        var name = $('#roomName').val();
                        body.innerHTML = 'Kirim "' + filename + '" ke ' + name + '?';
                        modalFile.show();
                    });
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        }

        function getMessage(id) {
            $.ajax({
                type: "GET",
                url: "/chat/room/message/" + id,
                success: function (response) {
                    console.log(response.data);
                    var data = response.data;
                    var newMessage = '<div class="d-flex mb-1 justify-content-start">' +
                        '<div class="chat-container d-flex flex-row bd-highlight">' +
                        '<div class="chat-received">' +
                        '<p class="text-wrap text-break mb-0" style="font-size: 10pt;">' + data.content + '</p></div>' +
                        '<span class="chat-time px-1">' + data.dateTimeDisplay + '</span>' +
                        '</div></div>';
                    $(newMessage).appendTo($('.chats-message'));
                    $('.chats-message').stop().animate({ scrollTop: $('.chats-message')[0].scrollHeight }, 1000);
                    updateRooms(id, false);
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        }

        function sendMessage(id, recipient) {
            var message = $('#message');
            if (message.val().trim() == '') {
                alert('Silahkan masukan pesan anda');
                message.focus();
                return;
            }
            var data = new FormData();
            data.set('chatRoom', $('#roomId').val());
            data.set('content', message.val());

            $.ajax({
                type: "POST",
                url: "/chat/send",
                enctype: 'multipart/form-data',
                data: data,
                // {
                //     id: id,
                //     recipient: recipient,
                //     message: message.val().trim()
                // },
                processData: false,
                contentType: false,
                cache: false,
                timeout: 600000,
                success: function (response) {
                    // console.log(response.data);
                    var data = response.data;
                    var newMessage = '<div class="d-flex mb-1 justify-content-end">' +
                        '<div class="chat-container d-flex flex-row bd-highlight">' +
                        '<span class="chat-time px-1">' + data.dateTimeDisplay + '</span>' +
                        '<div class="chat-sent">' +
                        '<p class="text-wrap text-break mb-0" style="font-size: 10pt;">' + data.content + '</p></div></div></div>';
                    $(newMessage).appendTo($('.chats-message'));
                    message.val(null);
                    $('.chats-message').stop().animate({ scrollTop: $('.chats-message')[0].scrollHeight }, "fast");
                    updateRooms(id, false);
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        }

        (function () {
            updateRooms();
            socketConnect();

            var nameAutocomplete = new Autocomplete(document.getElementById('search-room'), {
                data: [],
                maximumItems: 5,
                treshold: 1,
                onSelectItem: ({ label, value }) => {
                    console.log("selected:", label, value);
                    $('#search-room').val(null);
                    changeDetail(value);
                    // window.location.href = '/dispensation/user?id=' + value;
                }
            });
            $('#search-room').keyup(function (e) {
                if ($('#search-room').val().length >= 1 && $('#search-room').val() != "") {
                    console.log
                    $.ajax({
                        type: "GET",
                        dataType: "json",
                        url: "/chat/room/search",
                        data: 'name=' + $('#search-room').val(),
                        success: function (data) {
                            nameAutocomplete.setData(data);
                        }
                    });
                }
            });
            $('#form-file').on('submit', function(e) {
                e.preventDefault();
                var form = $(this);
                var url = form.attr('action');
                var data = new FormData();

                var fileEl = document.getElementById('input-file');
                data.append('file', fileEl.files[0]);
                data.set('chatRoom', $('#roomId').val());
                $.ajax({
                    type: "POST",
                    enctype: 'multipart/form-data',
                    url: url,
                    data: data,
                    processData: false,
                    contentType: false,
                    cache: false,
                    timeout: 600000,
                    success: function (response) {
                        console.log(response.data);
                        var data = response.data;
                        if(data.contentType.includes('image')) {
                            var newMessage = '<div class="d-flex mb-1 justify-content-end">' +
                            '<div class="chat-container d-flex flex-row bd-highlight">' +
                            '<span class="chat-time px-1">' + data.dateTimeDisplay + '</span>' +
                            '<div class="chat-sent">' +
                            '<a onclick="showMagnificPopup(\'' + data.fileUrl + '\')" class="message-image">' +
                                '<img src="' + data.fileUrl +' " style="height: 240px; width: 240px; object-fit: cover; border-radius: 0.6rem;"/>' +
                            '</a>' +
                            '</div>' +
                            '</div>' +
                            '</div>';
                            $(newMessage).appendTo($('.chats-message'));
                        } else if(data.contentType == 'application/pdf') {
                            var newMessage = '<div class="d-flex mb-1 justify-content-end">' +
                            '<div class="chat-container d-flex flex-row bd-highlight">' +
                            '<span class="chat-time px-1">' + data.dateTimeDisplay + '</span>' +
                            '<div class="chat-sent">' +
                            '<a href="' + data.fileUrl +'" target="_blank" class="flat-link text-primary">' +
                            '<p class="text-wrap text-break mb-0" style="font-size: 10pt;"><i class="las la-file-pdf la-lg text-danger"></i> ' + data.content + '</p>' +
                            '</a>' +
                            '</div>' +
                            '</div>' +
                            '</div>';
                            $(newMessage).appendTo($('.chats-message'));
                        }
                        modalFile.hide();
                        $("#input-file").val(null);
                        $('.chats-message').stop().animate({ scrollTop: $('.chats-message')[0].scrollHeight }, "fast");
                        updateRooms($('#roomId').val(), false);
                    },
                    error: function (e) {
                        console.log("ERROR : ", e);
                    }
                });
            });
            modalFileEl.addEventListener('hidden.bs.modal', function(e) {
                $("#input-file").val(null);
            });
        })();

    </script>
</body>

</html>