<ul xmlns:th="http://www.thymeleaf.org" class="list-group rounded-0" th:each="row : ${data}">
    <li class="list-group-item list-group-item-action border-0 rooms-item" th:id="${row.id}">
        <div class="row px-2">
            <div class="col-md-2">
                <img th:if="${row.profilePicture != null}" th:src="${row.profilePicture}"
                    alt="user" class="thumbnail-50 rounded-circle">
                <img th:unless="${row.profilePicture != null}" src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg"
                    alt="user" width="50" class="rounded-circle">
            </div>
            <div class="col-md-10">
                <div class="d-flex align-items-center justify-content-between mb-1">
                    <h6 class="ellipsis mb-0" th:text="${row.name}">Jason Doe</h6>
                    <small class="small font-weight-bold text-nowrap" style="font-size: 8pt;" th:text="${row.latestChat.dateTimeDisplay}">25 Dec</small>
                </div>
                <p th:if="${#strings.contains(row.latestChat.contentType, 'image')}"
                    class="fw-light mb-0 text-small ellipsis"><i class="las la-image"></i> [[${row.latestChat.content}]]</p>
                <p th:if="${row.latestChat.contentType == 'application/pdf'}"
                    class="fw-light mb-0 text-small ellipsis"><i class="las la-file-pdf"></i> [[${row.latestChat.content}]]</p>
                <p th:if="${row.latestChat.contentType == null || row.latestChat.contentType == 'text/plain'}" class="fw-light mb-0 text-small ellipsis" 
                    th:text="${row.latestChat.content}">Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                
            </div>
        </div>
    </li>
</ul>