<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layout/app}">
	<head>
        <title>[[#{app.name}]]</title>
        <link th:href="@{/styles/coming.css}" rel="stylesheet" />
        <script th:src="@{/scripts/coming.js}"></script>
        <script type="text/javascript">
            window.onload = function(){
                var deadline = new Date('[(${date})]');
                startTimer(deadline);
            };

            function startTimer(deadline){
                var timerInterval = setInterval(function(){
                    var timer = processTimer(deadline);

                    document.getElementById('days').innerHTML = '' + timer.days + '';
                    document.getElementById('hours').innerHTML = '' + timer.hours + '';
                    document.getElementById('minutes').innerHTML = '' + timer.minutes + '';
                    document.getElementById('seconds').innerHTML = '' + timer.seconds + '';

                    if(timer.total < 1){
                        clearInterval(timerInterval);
                        clock.innerHTML = '0000';
                    }
                }, 1000);
            }
        </script>
	</head>
	<body class="text-center">
		<div class="panel-clock" layout:fragment="main-content">
            <img class="mb-4" src="https://upload.wikimedia.org/wikipedia/commons/3/38/LogoKemenkoMaritim.png" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">COMING SOON</h1>
            <div class="row count-down">
                <div class="col-md-3 text-center">
                    <h3 class="text-danger" id="days"></h3>
                    DAYS
                </div>
                <div class="col-md-3 text-center">
                    <h3 class="text-danger" id="hours"></h3>
                    HOURS
                </div>
                <div class="col-md-3 text-center">
                    <h3 class="text-danger" id="minutes"></h3>
                    MINUTES
                </div>
                <div class="col-md-3 text-center">
                    <h3 class="text-danger" id="seconds"></h3>
                    SECONDS
                </div>
            </div>
            <p class="mt-5 mb-3 text-muted">Kementerian Koordinator Bidang Kemaritiman dan Investasi <br/>&copy; 2020</p>
		</div>
	</body>
</html>