<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
    layout:decorate="~{layout/authenticated}">

    <head th:fragment="common_head(meta,title,links,script)">
        <title>[[#{app.name}]]</title>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
        <script th:inline="javascript">
          /*<![CDATA[*/
          var labels = /*[[${weeklyDate}]]*/ ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday' ];
          var data1 =  /*[[${weeklyWFO}]]*/ [0, 4, 10, 5, 7, 9, 0];
          var data2 = /*[[${weeklyWFH}]]*/ [0, 7, 1, 7, 8, 5, 7];
          /*]]>*/
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
        <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmZGqr9ifi1pb9yaE7s9Lw81KMssNGsV8"></script> -->
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
          integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
          crossorigin=""></script>
    </head>
    <body class="bg-light">
        <header>
            <div layout:fragment="first-navbar" class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
              <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/dashboard}">Dashboard</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" th:href="@{/employement}">Employment</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" th:href="@{/letter}">Letter</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" th:href="@{/report}">Report</a>
                  </li>
                </ul>
                <ul class="navbar-nav d-flex">
                  <li class="nav-item dropdown mr-4">
                    <a class="nav-link dropdown-toggle" href="#" id="settings" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Settings
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="settings">
                      <li><a class="dropdown-item" href="#">Office Master</a></li>
                      <!-- <li><hr class="dropdown-divider"></li> -->
                      <li><a class="dropdown-item" href="#">System Parameter</a></li>
                    </ul>
                  </li>
                    <li class="nav-item text-nowrap">
                        <a class="nav-link text-danger" th:href="@{/logout}">Log Out</a>
                    </li>
                </ul>
              </div>
            </div>
            <div layout:fragment="second-navbar" class="nav-scroller bg-white box-shadow">
                <nav class="nav nav-underline">
                    <a class="nav-link active" th:href="@{/dashboard}">Dashboard</a>
                    <a class="nav-link" th:href="@{/ticket}">
                      Open Ticket
                      <!-- <span class="badge badge-pill bg-light align-text-bottom">0</span> -->
                    </a>
                    <a class="nav-link" href="#">Covid Tracker</a>
                    <!-- <a class="nav-link" href="#">Link</a>
                    <a class="nav-link" href="#">Link</a>
                    <a class="nav-link" href="#">Link</a>
                    <a class="nav-link" href="#">Link</a>
                    <a class="nav-link" href="#">Link</a> -->
                </nav>
            </div>
        </header>
        <div layout:fragment="content" class="container">
            <div class="row my-2" style="height: 375px">
              <div class="col-md-6" >
                <div class="card">
                  <div class="card-body">
                    <h6 class="card-subtitle">Daily Absence</h6>
                    <canvas class="my-4" id="myChart" style="height: 300px; z-index: 999;"></canvas>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="bg-white rounded shadow-sm">
                  <h6 class="pt-3 pb-2 px-3">Location Monitor</h6>
                  <div id="map" class="rounded-bottom" style="height: 300px; z-index: 999;"></div>
                </div>
              </div>
            </div>
            <div class="my-2 p-3 bg-white rounded shadow-sm">
                <h6 class="border-bottom border-gray pb-2 mb-0">Recent updates</h6>
                <div th:each="row : ${latestUpdated}" class="media text-muted pt-3">
                  <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"/><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
                  <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <div class="d-flex justify-content-between align-items-center w-100">
                      <a th:href="@{'/activity?id=' + ${row.id}}"><strong class="text-gray-dark" th:text="${row.user.profile.fullName}">Full Name</strong></a>
                      <span th:text="${row.actionTime}">Follow</span>
                    </div>
                    <span class="d-block" th:utext="#{${row.actionName}} + ' ' + #{${row.description}}">@username</span>
                  </div>
                </div>
                <small class="d-block text-right mt-3">
                  <a th:href="@{'/activity}">All updates</a>
                </small>
              </div>
            
        <script th:src="@{/scripts/dashboard.js}"></script>
        </div>
    </body>
</html>