<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/authenticated}">

<head th:fragment="common_head(meta,title,links,script)">
    <title>[[#{app.name}]]</title>
    <link th:href="@{/styles/employee.css}" rel="stylesheet" />
</head>

<body class="bg-light">
    <header>
    </header>
    <div layout:fragment="content" class="container">
        
        <div>
                <h1 class="text-center" th:text="#{label.employee.title}">Employee List</h1>
        </div>
         <div class="my-2 p-3 bg-white rounded shadow-sm">
            <div class="search-container p-3">
                <form action="">
                    <input type="text" placeholder="Search.." name="search" class="col-sm-4">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
           <table class="table">
                <thead>
                    <tr>
                        <th scope="col" th:text="#{no}"></th>
                        <th scope="col" th:text="#{label.employee.name}"></th>
                        <th scope="col" th:text="#{label.employee.employeeno}">Employee No</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="employee: ${employees}"  th:if="${employees.numberOfElements > 0}">
                        <td th:text="${employeeStat.count + startIndex}" />
                        <td th:text="${employee.user.username}" />
                        <td th:text="${employee.employeeNo}" />
                    </tr>
                    <tr th:unless="${employees.numberOfElements > 0}">
                        <td colspan="3" align="center">Record not found</td>
                    </tr>
                </tbody>
            </table> 
            <nav aria-label="Page navigation example" th:if="${employees.totalPages > 1}">
                <ul th:class="pagination" th:classappend="justify-content-end" >
                        
                    <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                        <a class="page-link"
                            th:href="@{/employment(page=${currentPage-1})}"
                            aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <th:block th:each="pageNumber : ${pageNumbers}">
                        <li class="page-item" th:classappend="${pageNumber==currentPage+1} ? active" >
                        <a th:href="@{/employment(page=${pageNumber-1})}"
                            th:classappend="page-link">
                            <span aria-hidden="true" th:text="${pageNumber}"></span>
                        </a>
                        </li>
                    </th:block>
                    <li class="page-item" th:classappend="${currentPage + 1 == employees.totalPages} ? 'disabled'">
                        <a class="page-link"
                        th:href="@{/employment(page=${currentPage+1})}"
                            aria-label="Next" title="Next Page" data-toggle="tooltip">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                
                </ul>            
            </nav>
        </div>

        <script th:src="@{/scripts/dashboard.js}"></script>
    </div>
</body>

</html>