<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/app}">

	<head>
		<title>[[#{app.name}]]</title>
		<link th:href="@{/styles/coming.css}" rel="stylesheet" />
	</head>

	<body>
		<body>
			<div class="panel-clock" layout:fragment="main-content">
				<img class="mb-4" src="https://upload.wikimedia.org/wikipedia/commons/3/38/LogoKemenkoMaritim.png" alt="" width="72" height="72">
				<h1 class="h3 mb-3 font-weight-normal">WELCOME TO MARVES CORE</h1>
				<div th:if="${errorMsg}">
					<div class="container alert col-sm-4 text-danger">
						<span>[[#{${errorMsg}}]]</span>
					</div>
				</div>
				<div th:if="${param.logout}">
					<div class="container alert col-sm-4 text-info">
						<span>[[#{${msg}}]]</span>
					</div>
				</div>
				<div class="container text-left col-sm-3">
					<form class="form-signin" th:action="@{/}" method="post">
						<div class="form-floating mb-3">
							<input type="text" class="form-control" name="username" id="username" 
								placeholder="username@domain.com" autocomplete="off" required="true">
							<label for="floatingInput">Username</label>
						</div>
						<div class="form-floating mb-3">
							<input type="password" class="form-control" name="password" id="password" 
								placeholder="Password" autocomplete="off" required="true">
							<label for="floatingPassword">Password</label>
						</div>
						<div class="form-group">
							<div class="row">
								<div class="col-sm-12 col-sm-offset-3">
									<input type="submit" name="login-submit" id="login-submit"
										class="form-control btn btn-outline-primary" value="Log In">
								</div>
							</div>
						</div> 

					</form>
				</div>
				<p class="mt-5 mb-3 text-muted">Kementerian Koordinator Bidang Kemaritiman dan Investasi <br/>&copy; 2020</p>
			</div>
		</body>
	</body>

</html>