<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/app}">

	<head>
		<title>[[#{app.name}]]</title>
		<link th:href="@{/styles/coming.css}" rel="stylesheet" />
	</head>

	<body>
		<body class="text-center">
			<div class="panel-clock" layout:fragment="main-content">
				<img class="mb-4" src="https://upload.wikimedia.org/wikipedia/commons/3/38/LogoKemenkoMaritim.png" alt="" width="72" height="72">
				<h1 class="h3 mb-3 font-weight-normal">WELCOME TO MARVES CORE</h1>
				<div th:if="${errorMsg}">
					<div class="container alert col-sm-4 text-danger">
						<span>[[#{${errorMsg}}]]</span>
					</div>
				</div>
				<div th:if="${param.logout}">
					<div class="container alert col-sm-4 text-info">
						<span>[[#{${msg}}]]</span>
					</div>
				</div>
				<div class="container text-left col-sm-3">
					<form class="form-signin" th:action="@{/}" method="post">
						<div class="form-group">
							<label for="username">Username</label>:
							<input type="text" id="username" name="username" class="form-control" autofocus="autofocus"
								placeholder="Username" autocomplete="off" required="true">
						</div>
						<div class="form-group">
							<label for="password">Password</label>:
							<input type="password" id="password" name="password" class="form-control"
								placeholder="Password" autocomplete="off" required="true">
						</div>
						<div class="form-group">
							<div class="row">
								<div class="col-sm-12 col-sm-offset-3">
									<input type="submit" name="login-submit" id="login-submit"
										class="form-control btn btn-info" value="Log In">
								</div>
							</div>
						</div>

					</form>
				</div>
				<p class="mt-5 mb-3 text-muted">Kementerian Koordinator Bidang Kemaritiman dan Investasi <br/>&copy; 2020</p>
			</div>
		</body>
		<!-- <div layout:fragment="main-content" class="d-flex justify-content-center">
			<div class="main-content h-100">
				<div class="text-left">
					<form class="form-signin" th:action="@{/}" method="post">
						<div class="text-center mb-4">
							<img class="mb-4"
								src="https://upload.wikimedia.org/wikipedia/commons/3/38/LogoKemenkoMaritim.png" alt=""
								width="72" height="72">
							<h1 class="h3 mb-3 font-weight-normal">Welcome to [[#{app.name}]]</h1>
						</div>
						<div th:if="${errorMsg}">
							<div class="alert alert-danger">
								<span>[[#{${errorMsg}}]]</span>
							</div>
						</div>
						<div th:if="${param.logout}">
							<div class="alert alert-info">
								<span>[[#{${msg}}]]</span>
							</div>
						</div>
						<div class="form-group">
							<label for="username">Username</label>:
							<input type="text" id="username" name="username" class="form-control" autofocus="autofocus"
								placeholder="Username">
						</div>
						<div class="form-group">
							<label for="password">Password</label>:
							<input type="password" id="password" name="password" class="form-control"
								placeholder="Password">
						</div>
						<br>
						<div class="form-group">
							<div class="row">
								<div class="col-sm-12 col-sm-offset-3">
									<input type="submit" name="login-submit" id="login-submit"
										class="form-control btn btn-info" value="Log In">
								</div>
							</div>
						</div>

					</form>
				</div>
			</div>
		</div> -->
	</body>

</html>