<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/authenticated}">

<head th:fragment="common_head(meta,title,links,script)">
    <title>[[#{app.name}]]</title>
    <link th:href="@{/styles/notification.css}" rel="stylesheet" />
</head>

<body class="bg-light">
    <header>
    </header>
    <div layout:fragment="content" class="container">
            <div class="row py-5 col-sm-12 no-marginLR">
                <div class="col-sm-3 title">
                    <h3 th:text="#{label.notification.title}"></h3>
                </div>
                <div class="col-sm-9 d-flex justify-content-end">
                    <button th:text="#{label.notification.create.new}" class="py-1 px-5 btn-new-notification" id="btn-add-notification"></button>
                </div>
             </div>
             <div class="row  no-marginLR" id="notification-list">
                 <div class="col-sm-9">
                <table class="table notification-list white-table">
                        <thead>
                            <tr>
                                <th scope="col" th:text="#{label.notification.to}"></th>
                                <th scope="col" th:text="#{label.notification.content}"></th>
                                <th scope="col" th:text="#{label.notification.send.date}">Employee No</th>
                                <th scope="col" th:text="#{label.notification.send.time}">Employee No</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="notification: ${notifications}" th:if="${notification.user!=null}">
                                <td th:text="${notification.user.email}" />
                                <td th:text="${notification.content}" />
                                <td th:text="${#temporals.format(notification.dateTime, 'dd/MM/yyyy')}" />
                                <td th:text="${#temporals.format(notification.dateTime, 'HH.mm.ss')}" />
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-3" id="new-notification-form">
                        <div id="triangle-up"></div>
                        
                        <form th:action="@{/save-notification}" th:object="${notification}" method="post">
                <table class="table notification-list white-table table-borderless">
                        <thead>
                            <tr>
                                <td scope="col" colspan="2" th:text="#{label.notification.new}"></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr >
                                <td class="px-3" th:text="#{label.notification.to}" colspan="2"></td>
                            </tr>
                            <tr >
                                <td class="px-3" colspan="2"><input type="text" autocomplete="off" class="input-notif" name="assignee" th:value="${assignee}" id="input-assignee">
                                    <div class="dropdown dropdown-email" id="dropdown-email" style="z-index: 1000; display: none;" >
                                        <ul class="list-unstyled" id="list-email" aria-labelledby="dropdownMenuButton2">
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr >
                                <td class="px-3" colspan="2" th:if="${errorMessage}"><span class="text-danger" th:text="${errorMessage}"></span></td>
                            </tr>
                            <tr >
                                <td class="px-3" th:text="#{label.notification.content}" colspan="2"></td>
                            </tr>
                            <tr >
                                <td class="p-3" colspan="2">
                                    <div class="dropdown">
                                        <button class="btn dropdown-btn-grey dropdown-toggle w-100" type="button" id="perihal" name="category"
                                            data-bs-toggle="dropdown" aria-expanded="false" style="z-index: -1;">
                                            Kabar Bahagia
                                        </button>
                                        <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton" id="perihal-dropdown">
                                            <li id="1"><a class="dropdown-item" href="#">Kabar Bahagia</a></li>
                                            <li id="1"><a class="dropdown-item" href="#">Upacara Nasional</a></li>
                                            <li id="1"><a class="dropdown-item" href="#">Penyemprotan</a></li>
                                            <li id="1"><a class="dropdown-item" href="#">Kabar Dukacita</a></li>
                                            <li id="1"><a class="dropdown-item" href="#">Hari Ulang Tahun</a></li>
                                            <li id="1"><a class="dropdown-item" href="#">Open Ticket</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr >
                                <td class="px-3" th:text="#{label.notification.description}" colspan="2"></td>
                            </tr>
                            <tr>
                                <td colspan="2"><textarea name="content" class="form-control input-notif no-border no-radius" style="resize:none;" height="15" th:value="${content}"></textarea></td>
                            </tr>
                            <tr>
                                <td>
                                    <button class="btn-new-notification py-2 px-4" type="submit">Kirim</button>
                                </td>
                                <td align="right">
                                    <button class="btn-cancel-notification py-2 px-4">Batal</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
                </div> 
            </div>
        <script>
            var isFormHidden = true;
            $("#new-notification-form").hide();
            $('#new-notification-form').siblings().removeClass('col-sm-9').addClass('col-sm-12');
            $("#btn-add-notification").click(function(){
                $("#new-notification-form").toggle();
                if(!isFormHidden){
                    $('#new-notification-form').siblings().removeClass('col-sm-9').addClass('col-sm-12');
                    isFormHidden = true;
                }else{
                    $('#new-notification-form').siblings().removeClass('col-sm-12').addClass('col-sm-9');
                    isFormHidden = false;
                }
            });
            $("#perihal-dropdown li").click(function(){
                var month = $(this).attr('id') ;
                $('#perihal').text($(this).find('a').text());
                $("#perihal").prop('value', $(this).find('a').text());
            });

            $('#dropdown-email').hide();
            $('#dropdown-email ul').empty();
            $('#input-assignee').keyup(function(){
                $('#dropdown-email ul').empty();
                $('#dropdown-email').hide();
                if($("input[name='assignee']").val().length >= 2 && $("input[name='assignee']").val() != ""){  
                    $.ajax({
                        type: "GET",
                        dataType: "json",
                        url: "/find-user-email",
                        data:'email='+$("input[name='assignee']").val(),
                        success: function(data){
                            console.log("JSON Parse: " + JSON.stringify(data));
                            var selOpts = "";
                            if(data!=null && data.length!=0){
                            $.each(data, function(k, v){
                                var value = data[k].email;
                                var text = data[k].email;
                                selOpts += '<li><a href=\'#\' class=\'email-list\' title="'+text+'">'+text+'</a></li>';
                            });
                            $('#dropdown-email ul').append(selOpts);
                            $('#dropdown-email').show();
                            }                                    
                        }
                    });
                }
                
            });

            $('ul#list-email').click(
                function(e){
                    $('#dropdown-email').hide();
                    $("input[name='assignee']").val($('ul#list-email li a').attr("title"));
                }
            );
        </script>
    </div>
</body>

</html>