<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >

    <head>
        <title>[[#{app.name}]]</title>
        <style>
        #map {
            height: 100%;
        }
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        </style>
    </head>
    <body class="bg-light">
        <div id="map"></div>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmZGqr9ifi1pb9yaE7s9Lw81KMssNGsV8"></script>
        <script th:src="@{/scripts/dashboard.js}"></script>
    </body>
</html>