<!-- https://github.com/nhn/tui.calendar -->
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>[[#{app.name}]] - Agenda</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui-calendar/latest/tui-calendar.css" />
    <link th:href="@{/styles/app.css}" rel="stylesheet" />
</head>

<body>
    <header th:replace="~{fragment/header :: header}">Header</header>
    <div class="container-fluid">
        <div class="card p-3 mb-2">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <h4>AGENDA</h4>
                        <form>
                            <div class="input-group input-group-sm mb-3">
                                <input type="text" class="form-control" placeholder="Cari nama pegawai" aria-label="search pegawai">
                                <span class="input-group-text bg-light"><i class="las la-search"></i></span>
                            </div>
                        </form>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
                            <label class="form-check-label" style="color: #8678D9;" for="flexCheckDefault">
                              Semua Agenda
                            </label>
                        </div>
                        <div id="calendar-list">
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="btn-toolbar" role="toolbar">
                            <div class="btn-group me-2" role="group">
                                <button type="button" class="btn btn-sm btn-dark" style="background: #8678D9;">Tambah Agenda</button>
                            </div>
                            <div class="btn-group me-2" role="group">
                                <button type="button" class="btn btn-sm btn-outline-primary" data-action="move-prev">
                                    <i class="las la-chevron-left"></i>
                                </button>
                                <button type="button" class="btn btn-sm btn-outline-primary" data-action="move-today">Hari Ini</button>
                            
                                <button type="button" class="btn btn-sm btn-outline-primary" data-action="move-next">
                                    <i class="las la-chevron-right"></i>
                                </button>
                            </div>
                        </div>
                        <div class="calendar-view" id="calendar-view"></div>
                    </div>
                </div>
            </div>
        </div>
        <footer th:insert="~{fragment/footer :: footer}">Footer</footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
    <script src="https://uicdn.toast.com/tui.code-snippet/v1.5.2/tui-code-snippet.min.js"></script>
    <script src="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.min.js"></script>
    <script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.min.js"></script>
    <script src="https://uicdn.toast.com/tui-calendar/latest/tui-calendar.js"></script>
    <script>
        (function() {
            var calendarList = [
                {
                    id: '1',
                    name: 'Daring',
                    color: '#ffffff',
                    bgColor: '#EAC600',
                    borderColor: '#EAC600'
                },
                {
                    id: '2',
                    name: 'Di Kantor',
                    color: '#ffffff',
                    bgColor: '#4AC8F1',
                    borderColor: '#4AC8F1'
                },
                {
                    id: '3',
                    name: 'Perjalanan Dinas',
                    color: '#ffffff',
                    bgColor: '#FB852F',
                    borderColor: '#FB852F'
                }
            ];
            var calendarView = new tui.Calendar('#calendar-view', {
                defaultView: 'day',
                taskView: false,
                scheduleView: ['time'],
                calendars: calendarList,
                theme: {
                    'common.border': '10px solid #EAC600',
                }
            });

            var calendarListView = document.getElementById('calendar-list');
            var calendarHtml = [];
            calendarList.forEach(function(calendar) {
                console.log(calendar);
                calendarHtml.push('<div class="form-check">' +
                    '<input class="form-check-input" type="checkbox" value="' + calendar.id + '" id="' + calendar.id + '" checked>' +
                    '<label class="form-check-label" for="' + calendar.id + '">' +
                    '<span style="color: ' + calendar.borderColor + ';">' + calendar.name + '</span>' +
                    '</label></div>'
                );
            });
            calendarListView.innerHTML = calendarHtml.join('\n');
        })();
        
    </script>
</body>

</html>