<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:fragment="common_head(meta,title,links,script)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE"></title>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/4.5.1/css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/examples/offcanvas/offcanvas.css">
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.5.1/jquery.min.js"></script>
    <script src="http://cdn.jsdelivr.net/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>

<body class="text-center">
    <section layout:fragment="main-content">
        <p>This is filled by the main content template.</p>
    </section>

    <footer class="pt-5 my-md-5 pt-5 border-top footer">

        <div class="col-12 col-md">
            <div>Kementerian Koordinator Bidang Kemaritiman dan Investasi <br />&copy; 2020</div>
        </div>
    </footer>

</body>

</html>