<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/app}">

    <head th:fragment="common_head(meta,title,links,script)">
        <meta name="theme-color" content="#563d7c">
        <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE"></title>
        <link th:href="@{/styles/main.css}" rel="stylesheet" />
    </head>

    <body>
        <div layout:fragment="main-content">
            <header>
                <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark flex-md-nowrap shadow">
                    <a class="navbar-brand mt-n1 mr-0 px-3" th:href="@{/dashboard}"><img
                            src="https://upload.wikimedia.org/wikipedia/commons/3/38/LogoKemenkoMaritim.png" alt=""
                            width="32" height="32"></a>
                    <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <section layout:fragment="first-navbar" class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                      <li class="nav-item">
                                        <a th:classappend="${#strings.contains(#httpServletRequest.requestURI, '/dashboard') ? 'active':''}" class="nav-link" th:href="@{/dashboard}">Dashboard</a>
                                      </li>
                                      <li class="nav-item">
                                            <a th:classappend="${#strings.contains(#httpServletRequest.requestURI, '/employment') ? 'active':''}" class="nav-link" th:href="@{/employment}">Employment</a>
                                      </li>
                                      <li class="nav-item">
                                            <a th:classappend="${#strings.contains(#httpServletRequest.requestURI, '/letter') ? 'active':''}" class="nav-link" th:href="@{/letter}">Letter</a>
                                      </li>
                                      <li class="nav-item">
                                          <a th:classappend="${#strings.contains(#httpServletRequest.requestURI, '/report') ? 'active':''}" class="nav-link" th:href="@{/report}">Report</a>
                                      </li>
                                    </ul>
                                    <ul class="navbar-nav d-flex">
                                      <li class="nav-item dropdown mr-4">
                                        <a class="nav-link dropdown-toggle" href="#" id="settings" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                          Settings
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="settings">
                                          <li><a class="dropdown-item" href="#">Office Master</a></li>
                                          <!-- <li><hr class="dropdown-divider"></li> -->
                                          <li><a class="dropdown-item" th:href="@{/sysparam}">System Parameter</a></li>
                                        </ul>
                                      </li>
                                        <li class="nav-item text-nowrap">
                                            <a class="nav-link text-danger" th:href="@{/logout}">Log Out</a>
                                        </li>
                                    </ul>
                                  </div>
                    </section>
                </nav>

                <section layout:fragment="second-navbar">
                        <div layout:fragment="second-navbar" class="nav-scroller bg-white box-shadow">
                                <nav class="nav nav-underline"  th:if="${#strings.contains(#httpServletRequest.requestURI, 'employment')}">
                                        <a th:classappend="${#httpServletRequest.getRequestURI() == '/employment' ? 'active':''}" class="nav-link" th:href="@{/employment}">Master User</a>
                                        <a th:classappend="${#httpServletRequest.getRequestURI() == '/employment/activity' ? 'active':''}" class="nav-link" th:href="@{/employment/activity}">Activity</a>
                                </nav>
                                <nav class="nav nav-underline" th:if="${#strings.contains(#httpServletRequest.requestURI, 'dashboard')} or 
                                ${#strings.contains(#httpServletRequest.requestURI, 'ticket')}">
                                        <a th:classappend="${#httpServletRequest.getRequestURI() == '/dashboard' ? 'active':''}" class="nav-link" th:href="@{/dashboard}">Dashboard</a>
                                        <a th:classappend="${#httpServletRequest.getRequestURI() == '/ticket' ? 'active':''}" class="nav-link" th:href="@{/ticket}">Open Ticket</a>
                                        <a class="nav-link" href="#">Covid Tracker</a>
                                    </nav>
                            </div>
                </section>
                
            </header>
            <section layout:fragment="content" role="main" class="container">
                <p>This is filled by the main content template.</p>
            </section>

            <footer class="my-3 footer justify-content-md-center">
                <div class="col-4 col-md-4 offset-md-4">
                    <div class="text-muted text-center">Kementerian Koordinator Bidang Kemaritiman dan Investasi &copy; 2020</div>
                </div>
            </footer>

            <script th:inline="javascript">
                $(function () {
                    'use strict'
    
                    $('[data-toggle="offcanvas"]').on('click', function () {
                        $('.offcanvas-collapse').toggleClass('open')
                    })
                })
            </script>
        </div>

    </body>

</html>