<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
    <header th:fragment="header" class="navbar navbar-expand-md navbar-dark bg-dark fixed-top flex-md-nowrap shadow">
        <div class="container-fluid me-auto px-4">
            <a class="navbar-brand me-auto" href="#">
                <img src="https://upload.wikimedia.org/wikipedia/commons/3/38/LogoKemenkoMaritim.png" alt="" width="32"
                    height="32">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div id="navbarNav" class="navbar-collapse collapse w-100 order-1 order-md-0">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a th:classappend="${#strings.contains(#httpServletRequest.requestURI, '/dashboard') || #strings.contains(#httpServletRequest.requestURI, '/activity')  ? 'active':''}"
                            class="nav-link" th:href="@{/dashboard}">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a th:classappend="${#strings.contains(#httpServletRequest.requestURI, '/covid') ? 'active':''}"
                            class="nav-link" th:href="@{/covid}">CovidTracker</a>
                    </li>
                    <li class="nav-item">
                        <a th:classappend="${#strings.contains(#httpServletRequest.requestURI, '/chat') ? 'active':''}"
                            class="nav-link" th:href="@{/create-chat}">Chat</a>
                    </li>
                    <li class="nav-item">
                        <a th:classappend="${#strings.contains(#httpServletRequest.requestURI, '/ticket/open-ticket') ? 'active':''}"
                            class="nav-link" th:href="@{/ticket/open-ticket}">Open Ticket</a>
                    </li>
                    <li class="nav-item">
                        <a th:classappend="${#strings.contains(#httpServletRequest.requestURI, '/notification') ? 'active':''}"
                            class="nav-link" th:href="@{/notification}">Notifikasi</a>
                    </li>
                    <li class="nav-item">
                        <a th:classappend="${#strings.contains(#httpServletRequest.requestURI, '/dispensation') ? 'active':''}"
                            class="nav-link" th:href="@{/dispensation}">Dispensasi</a>
                    </li>
                    <li class="nav-item">
                        <a th:classappend="${#strings.contains(#httpServletRequest.requestURI, '/absence') ? 'active':''}"
                            class="nav-link" th:href="@{/absence}">Presensi</a>
                    </li>
                    <li class="nav-item">
                        <a th:classappend="${#strings.contains(#httpServletRequest.requestURI, '/agenda') ? 'active':''}"
                            class="nav-link" th:href="@{/agenda}">Agenda</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a th:classappend="${#strings.contains(#httpServletRequest.requestURI, '/sysparam') || #strings.contains(#httpServletRequest.requestURI, '/calendar') || #strings.contains(#httpServletRequest.requestURI, '/office') ? 'active':''}" class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Pengaturan
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarScrollingDropdown">
                            <li><a class="dropdown-item" href="#">Kantor Utama</a></li>
                            <li><a class="dropdown-item" href="#">Cuti Nasional</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" th:href="@{/sysparam}">Parameter</a></li>
                        </ul>
                      </li>
                    <li class="nav-item">
                        <a class="nav-link text-danger" th:href="@{/logout}">Keluar</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
</body>
</html>