<!-- https://github.com/nhn/tui.calendar -->
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>[[#{app.name}]] - Kalendar Tahunan</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link th:href="@{/asset/vendor/dhtmlx/dhtmlxscheduler_material.css?v=5.3.11}" rel="stylesheet" />
    <link th:href="@{/styles/app.css}" rel="stylesheet" />
    <style>
        body {
            padding-top: 3.5rem;
        }
        .dhx_now .dhx_month_head {
            background-color:#0288d1 !important;
            color:white !important;
        }
        .dhx_month_head.dhx_year_event {
            background-color:red !important;
            /* color:white !important; */
        }
    </style>
</head>

<body>
    <header th:replace="~{fragment/header :: header}">Header</header>
    <!-- <div class="container"> -->
        <div id="scheduler_here" class="dhx_cal_container" style='width:100%; height:100vh;'>
            <div class="dhx_cal_navline">
                <div class="dhx_cal_prev_button">&nbsp;</div>
                <div class="dhx_cal_next_button">&nbsp;</div>
                <div class="dhx_cal_today_button"></div>
                <div class="dhx_cal_date"></div>
                <div class="dhx_cal_tab" name="day_tab"></div>
                <div class="dhx_cal_tab" name="week_tab"></div>
                <div class="dhx_cal_tab" name="month_tab"></div>
            </div>
            <div class="dhx_cal_header"></div>
            <div class="dhx_cal_data"></div>
        </div>
        <footer th:insert="~{fragment/footer :: footer}">Footer</footer>
    <!-- </div> -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
    <script th:src="@{/asset/vendor/dhtmlx/dhtmlxscheduler.js?v=5.3.11}"></script>
    <script th:src="@{/asset/vendor/dhtmlx/ext/dhtmlxscheduler_minical.js?v=5.3.11}"></script>
    <script th:src="@{/asset/vendor/dhtmlx/ext/dhtmlxscheduler_year_view.js?v=5.3.11}" type="text/javascript" charset="utf-8"></script>
    <script th:src="@{/asset/vendor/dhtmlx/locale/locale_id.js?v=5.3.11}"></script>
    <script>
        (function () {
            scheduler.config.header = [
                "date",
                "prev",
                "today",
                "next"
            ];
            scheduler.config.readonly = true;
            // scheduler.config.dblclick_create = false;
            // scheduler.config.drag_resize = false;
            // scheduler.config.drag_move = false;
            // scheduler.config.drag_create = false;
            scheduler.init('scheduler_here',new Date(),"year");
            scheduler.parse([
                { id:"1", text: "Hari Raya Imlek", start_date: "2021-02-12", end_date: "2021-02-12"}
            ], "json");
        })();

    </script>
</body>

</html>