<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/authenticated}">

<head th:fragment="common_head(meta,title,links,script)">
    <title>[[#{app.name}]]</title>
    <link th:href="@{/styles/ticket.css}" rel="stylesheet" />
</head>

<body class="bg-light">
    <header>
    </header>
    <div layout:fragment="content">
        <div class="py-5">
            <div class="row">
                <div class="w-35">
                    <div class="bg-white" style="position: relative">
                        <form class="search" action="#" th:object="${sysParam}" method="POST" id="search" >
                            <input autocomplete="off" type="text" placeholder="Search.." name="username" id="input-search" class="dropdown-toggle">
                            <button type="button" id="btn-search"><i class="fa fa-search"  id="icn-btn-search"></i></button>
                        </form>
                    </div>
                    <div class="bg-white my-5 employee-list">
                        <th:block th:each="employee : ${employees}">
                        <div class="ticket-grid-container" th:id="${employee.user.id}">
                            <div class="employee-no"><span th:text="${employee.employeeNo}"></span></div>
                            <div class="ticket-date"><span th:text="${#temporals.format(employee.user.createdAt, 'dd-MM-yyyy')}" />
                                </div>
                            <div class="employee-name">
                                <span th:if="${employee.user.profile}" th:text="${employee.user.profile.fullName}"></span>
                                <span th:unless="${employee.user.profile}" th:text="${employee.user.username}"></span>
                            </div>
                            <div class="ticket-time"><span th:text="${#temporals.format(employee.user.createdAt, 'HH:mm:ss')}" /></div>
                        </div>
                        </th:block>
                    </div>
                    
                </div>
                <div id="triangle-left"></div>
                <div class="w-60 bg-white py-4 mx-5" id="ticket-detail">
                        <div class="ticket-content row col-sm-12">
                            <div class="col-sm-4 employee-no text-blue"><strong><span th:text="${employeeNo}"></span></strong> </div>
                            <div class="col-sm-8 d-flex justify-content-end">
                                <div class="dropdown float-end">
                                    <button class="btn dropdown-btn-white dropdown-toggle" type="button" id="ticket-status-button"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        Open
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="ticket-status">
                                        <li id="1"><a class="dropdown-item" href="#">Open</a></li>
                                        <li id="2"><a class="dropdown-item" href="#">Close</a></li>
                                        <li id="3"><a class="dropdown-item" href="#">Reopen</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-4 bg-dark mobile-screen my-5 mx-3">

                            </div>
                            <div class="col-sm-8 my-5 mx-3">
                                <h3 th:text="${employeeName}"></h3>
                                <p class="text-justify ticket-detail-desc" th:text="${ticketContent}"></p>
                            </div>
                            <div>
                                <h3>Feedback</h3>
                                <p class="feedback-content p-2">Tidak ada kendala</p>
                            </div>
                            <div class="divider row">
                                <hr class="mx-3 my-2 w-32"/>
                                <div class="col-sm-3"> Perbaikan Selesai 
                                <p class="date"> 09/09/2020 12.11 WIB</p></div>
                                <hr class="mx-3 my-2 w-32"/>
                            </div>
                        </div>
                </div>
                
            </div>
        </div>
        <script>
            $( document ).ready(function() {
                $("#triangle-left").css("display", "none");
                $("#triangle-left").css("margin-top", 120);
                $('.ticket-grid-container').click(function(){
                    var position = $(this).position();
                    var arrowPosition = position.top - 120;
                    $("#triangle-left").css("margin-top", arrowPosition);
                });

                $('#ticket-status li a').click(function(){
                    $('#ticket-status-button').text($(this).text());
                    $('#ticket-status-button').val($(this).text());
                });

                $('.ticket-grid-container').click(function(e){
                    $('.ticket-grid-container').css("background-color", "#FFF");
                    $(this).css("background-color", "#B8D5EB");
                        var userid = $(this).attr('id');
                        $.ajax({
                            type: "POST",
                            url: "/ticket/ticket-filter",
                            data:{userid: userid},
                            success: function(data){
                                $('#ticket-detail').html($(data).find('.ticket-content'));
                            },
                            error: function(xhr, status, error){
                                alert(error);
                            }
                        });
                        e.preventDefault();
                    
                });


            });
        </script>
    </div>
     
    </body>
    
    </html>