.absence-today{
    font-family: Poppins;
}
.title>*{
    text-transform: uppercase;
    font-weight: bold;
}
.absence-today.title{
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
}
.content{
    padding: 35px 31px;
    height: 125px;
    background: #fff;
    
}
.content>.actual-value{
    font-weight: bold;
    font-size: 1.5em;
    margin: auto;
}
.header{
    text-align: center;
    color: #fff;
    font-size: 1em;
    text-transform: uppercase;
}

.login>.header{
    background: #08990D;
}

.login>.footer{
    background: #83CC86;
}

.locator>.header{
    background: #FC4D4D;
}
.locator>.footer{
    background:rgba(252, 77, 77, 0.5);
}

.presensi-in>.header{
    background: #0983E7;
}
.presensi-in>.footer{
    background: #84C1F3;
}

.presensi-out>.header{
    background: #5A3F8C;
}
.presensi-out>.footer{
    background: rgba(90, 63, 140, 0.5);;
}

.dispensasi>.header{
    background: #FFB800;
}
.dispensasi>.footer{
    background: rgba(255, 184, 0, 0.5);
}


.presensi-log{
    font-family: Poppins;
}
.table>tbody>tr>td{
    background: #fff;
}
.thead-presensi{
    background: #D9F4FF;
}

a{
    text-decoration: none;
}

.grid-container {
    display: inline-grid;
    grid-template-columns: 220px 220px 220px 220px 220px 220px;
    grid-column-gap: 55px;
}
.grid-item{
    padding: 0 20px;
}

.footer>a{
    display: block;
    color: black;
    grid-template-columns: auto auto auto;
}
.row>*{
    padding: 0;
}

.row {
    padding:0;
}