.calendar-container{width:100%;display:inline-flex; padding-bottom: 40px;}
.timings{text-align:right;padding-right:10px;width:100px;height:720px;display:flex;flex-direction:column;justify-content:space-between;background-color:#fff;font-size:.5em;box-sizing:border-box}
.timings span{font-size:200%;color:#696969}.days{height:720px;width:620px;padding:0 10px;background-color:#f0f0f0;border-color:#d1d1d1;border-style:solid;border-width:1px;box-sizing:border-box}
.event{background-color:#fff;border-style:solid;border-width:1px;border-left-width:5px;border-color:#d1d1d1;border-left-color:#57b986;padding-left:10px;padding-top:5px;position:relative;font-size:.5em;box-sizing:border-box}
.event .agenda-title{color:#57b986;font-size:200%}
.row{
    --bs-gutter-x: 0;
}
.new-agenda-btn, .delete-agenda-btn{
    background-color: #8678D9;
    color: #fff;
    border: none;
}
.monthly {
    box-shadow: 0 13px 40px rgba(0, 0, 0, 0.5);
    font-size: 0.8em;
}
.main-content{
    background-color: #fff;
}
.date-header-template{
    padding: 20px 0;
    background: #8678D9;
    text-align: center;
    color: #fff;
    position: relative;
}

.date-time{
    width: 100px;
    border-left: 2px solid #D4D4D4;
}

#table-day-agenda>tbody>tr>td{
    padding: 20px 5px;
}
.date-time-agenda{
    padding: 0;
    position: relative;
}

.agenda-detail {
    position: relative;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    z-index: 100;
    color: #fff;
    width: 200px;
    height: auto;
    margin-top: -17px;
    /* overflow-x: scroll; */
    font-size: .8em;
    cursor: pointer;
}
.meeting{
    margin-left: 20px;
}
.agenda-kantor{
    background-color: #4AC8F1;
}
.agenda-daring{
    background-color: #EAC600;
}
.agenda-dinas{
    background-color: #FB852F;
}
#dayTitle{
    position: absolute;
}
.participant{
    color: #000000;
    font-weight: bold;
}

/* The container */
.agenda-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .agenda-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .semua, .daring, .kantor, .dinas {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .agenda-container:hover input ~ .semua, .agenda-container:hover input ~ .daring, .agenda-container:hover input ~ .kantor, .agenda-container:hover input ~ .dinas{
    background-color: #ccc;
  }
  
  
  
   /* When the checkbox is checked, add a blue background */
  .agenda-container input:checked ~ .semua {
    background-color: #8678D9;
  }
  .agenda-container input:checked ~ .daring {
    background-color: #EAC600;
  }
  .agenda-container input:checked ~ .kantor {
    background-color: #4AC8F1;
  }
  .agenda-container input:checked ~ .dinas {
    background-color: #FB852F;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .semua:after, .daring:after,.kantor:after,.dinas:after{
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .agenda-container input:checked ~ .semua:after, .agenda-container input:checked ~ .daring:after,.agenda-container input:checked ~ .kantor:after,.agenda-container input:checked ~ .dinas:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .agenda-container .semua:after, .agenda-container .daring:after, .agenda-container .kantor:after, .agenda-container .dinas:after {
    left: 9px;
    top: 3px;
    width: 7px;
    height: 15px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

.modal-dialog{
    width: 400px;
    top: 155px;
}
.modal-header, .modal-content{
    padding: 0;
}

.modal-title{
    background-color: #8678D9;
    color: #fff;
    width: 100%;
    text-align: center;
}
.modal-body{
    font-size: .8em;
}
.new-agenda-form input, .new-agenda-form textarea{
    background-color: #F4F4F4;
    border-radius: 0;
    border: none;
    padding: 5px 4px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: .8em;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    font-size: .8em;
  }
  :-ms-input-placeholder { /* IE 10+ */
    font-size: .8em;
  }
  :-moz-placeholder { /* Firefox 18- */
    font-size: .8em;
  }
  .agenda-activity{
    border: #000000 1px solid;
    margin-top: -175px;
    margin-left: 25px;
    position: absolute;
    color: #000000;
    font-size: .8em;
  }

  #display-agenda-detail{
    padding: 2px;
  }

  #delete-agenda{
    font-size: .9em;
  }

  #delete-agenda .modal-footer{
    display: block;
    text-align: center;
  }

  .modal-agenda-title{
    color: #000;
    width: 100%;
    text-align: center;
    font-size: .8em;
}

.button-close, .button-edit, .button-delete{
  box-sizing: content-box;
    width: 1em;
    height: 1em;
    color: #000;
    background-color: #fff;
    border: 0;
    border-radius: .25rem;

}
.btn-group, .btn-group-vertical {
  position: relative;
  display: block;
}

.agenda-group{
  position: absolute;
}