html,
body {
  overflow-x: hidden;
  height: 100%;
}

body {
    padding-top: 56px;
}

@media (max-width: 991.98px) {
    .offcanvas-collapse {
      position: fixed;
      top: 56px; /* Height of navbar */
      bottom: 0;
      left: 100%;
      width: 100%;
      padding-right: 1rem;
      padding-left: 1rem;
      overflow-y: auto;
      visibility: hidden;
      background-color: #343a40;
      transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
      transition: transform .3s ease-in-out, visibility .3s ease-in-out;
      transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
    }
    .offcanvas-collapse.open {
      visibility: visible;
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  }

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}
  
.nav-scroller .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    color: rgba(255, 255, 255, .75);
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  
  .nav-underline .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
    color: #6c757d;
  }
  
  .nav-underline .nav-link:hover {
    color: #007bff;
  }
  
  .nav-underline .active {
    font-weight: 500;
    color: #343a40;
  }
  
  .text-white-50 { color: rgba(255, 255, 255, .5); }
  .bg-purple { background-color: #6f42c1; }

.lh-100 { line-height: 1; }
.lh-125 { line-height: 1.25; }
.lh-150 { line-height: 1.5; }

.table-condensed{
  font-size: 0.8em;
}

.table-title {
  padding-bottom: 15px;
  background: #6388b5;
  color: #fff;
  padding: 16px 30px;
  min-width: 100%;
  border-radius: 3px 3px 0 0;
}

.fa fa-trash:hover{
  color:red;
}

input.error{
  border: 1px solid;
  border-color: red;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.075) inset, 0 5 10px rgba(252, 4, 45, 0.1);
  outline: 0 none;
}

label.error{
  color: red;
  font-size: 0.8em;
}

form.search input[type=text] {

  padding: 5px;
  font-size: 17px;
  border: 1px solid #eceaea;
  border-right:none;
  float: left;
  width: 90%;
  background: #fff;
  border-radius: 3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

form.search button {
  float: left;
  width: 10%;
  padding: 5px;
  border-radius: 3px;
  color: #000;
  font-size: 17px;
  border: 1px solid #eceaea;
  border-left: none;
  cursor: pointer;
  background: #fff;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

form.search::after {
  content: "";
  clear: both;
  display: table;
}

.dropdown-btn-white {
  color: #000;
  background-color: #fff;
  border-color: #eceaea;
}