html,
body {
  overflow-x: hidden;
  height: 100%;
}

body {
    padding-top: 56px;
    font-family: 'Poppins', sans-serif;
}
.title>*{
  text-transform: uppercase;
  font-weight: bold;
}
@media (max-width: 991.98px) {
    .offcanvas-collapse {
      position: fixed;
      top: 56px; /* Height of navbar */
      bottom: 0;
      left: 100%;
      width: 100%;
      padding-right: 1rem;
      padding-left: 1rem;
      overflow-y: auto;
      visibility: hidden;
      background-color: #343a40;
      transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
      transition: transform .3s ease-in-out, visibility .3s ease-in-out;
      transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
    }
    .offcanvas-collapse.open {
      visibility: visible;
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  }

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}
  
.nav-scroller .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    color: rgba(255, 255, 255, .75);
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  
  .nav-underline .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
    color: #6c757d;
  }
  
  .nav-underline .nav-link:hover {
    color: #007bff;
  }
  
  .nav-underline .active {
    font-weight: 500;
    color: #343a40;
  }
  
  .text-white-50 { color: rgba(255, 255, 255, .5); }
  .bg-purple { background-color: #6f42c1; }
  

.lh-100 { line-height: 1; }
.lh-125 { line-height: 1.25; }
.lh-150 { line-height: 1.5; }

.table-condensed{
  font-size: 0.8em;
}

.table-title {
  padding-bottom: 15px;
  background: #6388b5;
  color: #fff;
  padding: 16px 30px;
  min-width: 100%;
  border-radius: 3px 3px 0 0;
}

.fa fa-trash:hover{
  color:red;
}

input.error{
  border: 1px solid;
  border-color: red;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.075) inset, 0 5 10px rgba(252, 4, 45, 0.1);
  outline: 0 none;
}

label.error{
  color: red;
  font-size: 0.8em;
}

form.search input[type=text] {

  padding: 5px;
  font-size: .9em;
  border: 1px solid #eceaea;
  border-right:none;
  float: left;
  width: 90%;
  background-color: #F4F4F4;
  border-radius: 3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

form.search button {
  float: left;
  width: 10%;
  padding: 5px;
  border-radius: 3px;
  color: #000;
  font-size: .9em;
  border: 1px solid #eceaea;
  border-left: none;
  cursor: pointer;
  background-color: #F4F4F4;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

form.search::after {
  content: "";
  clear: both;
  display: table;
}

.dropdown-btn-white {
  color: #000;
  background-color: #fff;
  border-color: #eceaea;
}

.dropdown-btn-grey {
  color: #000;
  background-color: #F4F4F4;
  border-radius: 0;
  border: none;
}

.textarea-grey{
    background-color: #F4F4F4;
}

.no-border, .no-radius{
  border-radius: 0;
  border: none;
}

.white-table>tbody>tr>td{
  background: #fff;
}

.bg-input-form { background: #F4F4F4; border:none; padding: 5px;}
.bg-button { background: #42BC6F; border: none;}
.text-blue{color: #0983E7;}

/* The container */
.agenda-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.agenda-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.semua, .daring, .kantor, .dinas {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.agenda-container:hover input ~ .semua, .agenda-container:hover input ~ .daring, .agenda-container:hover input ~ .kantor, .agenda-container:hover input ~ .dinas{
  background-color: #ccc;
}

 /* When the checkbox is checked, add a blue background */
.agenda-container input:checked ~ .semua {
  background-color: #8678D9;
}
.agenda-container input:checked ~ .daring {
  background-color: #EAC600;
}
.agenda-container input:checked ~ .kantor {
  background-color: #4AC8F1;
}
.agenda-container input:checked ~ .dinas {
  background-color: #FB852F;
}

/* Create the checkmark/indicator (hidden when not checked) */
.semua:after, .daring:after,.kantor:after,.dinas:after{
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.agenda-container input:checked ~ .semua:after, .agenda-container input:checked ~ .daring:after,.agenda-container input:checked ~ .kantor:after,.agenda-container input:checked ~ .dinas:after {
  display: block;
}

/* Style the checkmark/indicator */
.agenda-container .semua:after, .agenda-container .daring:after, .agenda-container .kantor:after, .agenda-container .dinas:after {
  left: 9px;
  top: 3px;
  width: 7px;
  height: 15px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal-dialog{
  width: 400px;
  top: 155px;
}
.modal-header, .modal-content{
  padding: 0;
}

.modal-title{
  background-color: #8678D9;
  color: #fff;
  width: 100%;
  text-align: center;
}
.modal-body{
  font-size: .8em;
}
.new-agenda-btn, .delete-agenda-btn{
  background-color: #8678D9;
  color: #fff;
  border: none;

}
.new-agenda-form input[type=text], .new-agenda-form textarea{
  background-color: #F4F4F4;
  border-radius: 0;
  border: none;
  padding: 5px 4px;
}

.dropdown-email, .dropdown-employee{
  position: absolute;
  margin-top: 3px;
  display: block;
  width: 270px;
  background-color: white;
  
}

.dropdown-email a,.dropdown-employee a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
  display: block;
  padding: 2px 7px;
}

.dropdown-email a:hover, .dropdown-employee a{
  background-color: #555;
  color: #fff;
}

.email-list, .employee-list{
    padding: 3px 5px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgb(129, 129, 129);
}