.w-60{width:55%!important}
.w-35{width:35%!important}
.w-32{width:32%!important}
.w-30{width:30%!important}
.employee-list{
    box-shadow: 1px 1px 1px 1px grey;
}
.ticket-grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 5px;
    padding: 15px 5px;
    cursor: pointer;
    
  }
  .ticket-grid-container:hover{
    background-color: #B8D5EB;
  }

  .employee-no{
      font-size: 1.5em;;
      font-weight: bold;
      text-align: left;
  }

  .employee-name{
      font-size: 1em;
      text-align: left;
  }

  .ticket-date, .ticket-time{
    font-size: 14px;
    text-align: right;
  }
  .ticket-time{
    margin-top: -15px;
  }

  #triangle-left {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-right: 20px solid #fff;
    border-bottom: 20px solid transparent;
    position: inherit;
    margin-left: 3px;
    z-index: 100;
    display: inline-block;
    filter: drop-shadow(0px 2px 0px rgb(58, 58, 58));
  }

  #ticket-detail{
    box-shadow: 1px 1px 1px 1px grey;
  }

  #ticket-status-button{
    width: 250px;
    background: #F4F4F4;
  }
  #ticket-status li{
    width: 250px;
  }
  .mobile-screen{
    position: relative;
    width: 170px;
    height: 357.95px;
  }

  .ticket-detail-desc{
    font-size: .9em;
  }

  .feedback-content{
    background: #B3F2DB;
    border-radius: 0px 15px 15px 15px;
    display:inline-block;
  }

  hr{
    border: 1px solid grey;
  }
  .divider .date{
    font-size: .7em;
    text-align: center;
  }
  
  .dropdown-toggle::after {
    margin-top: 10px;
    float:right;
}